.listaBannerBotoes{
    height: 100%;
    width: 100%;
    /**/
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

    .listaBannerBotoes > .link {
        margin: 0 0.5rem;
    }

    .listaBannerBotoes > .link{
        text-decoration: none;
        color: none;
    }

    .listaBannerBotoes > .link:active,
    .listaBannerBotoes > .link:visited{
        text-decoration: none;
        color: none;
    }

/* LINHA DOS BOTÕES DE LEMBREI, GIRAR e ESQUECI */
.cartaoBotoes{
    width: 35vw;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

    .cartaoBotoes .cartaoBtnWrapper .btnLegenda{
        text-align: center;
        color: var(--cinza)
    }