.listaBannerBotoesAtvFlashcard{
    
    height: 100%;
    width: 100%;
    /**/
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


    .listaBannerBotoesAtvFlashcard > .link {
        margin: 0 0.5rem;
    }

    .listaBannerBotoesAtvFlashcard > .link{
        text-decoration: none;
        color: none;
    }

    .listaBannerBotoesAtvFlashcard > .link:active,
    .listaBannerBotoesAtvFlashcard > .link:visited{
        text-decoration: none;
        color: none;
    }

/* LINHA DOS BOTÕES DE LEMBREI, GIRAR e ESQUECI */
.cartaoBotoes{
    width: 40vw;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: center;
}

    .cartaoBotoes .cartaoBtnWrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cartaoBotoes .cartaoBtnWrapper .btnLegenda{
        text-align: center;
        color: var(--cinza)
    }

/************** ALTO CONTRASTE *********************/

    /* Esse elemento tem uma classe nele que faz a fonte ficar cinza. REMOVER DEPOIS */
    #root.altoContraste .cartaoBotoes .cartaoBtnWrapper .btnLegenda{
        text-align: center;
        color: var(--branco)
    }

/***************************************************/

@media screen and (max-width: 769px){
    input{
        font-size: 3vw !important; 
    }

    .containerConteudoAtividadeFlashcard{
        height: 85vh !important;
    }

    .cartaoBotoes{
        width: 70vw;
        height: 100%;
        /**/
        display: grid;
        grid-template-columns: 15vw 15vw 15vw;
        gap: 10vw;
        align-items: start;
        justify-content: center;
    }

}