/* BANNER E BOTOES DE NAVEGACAO NA LINHA DO BANNER */

.listaBanner{
    height: 100%;
    width: 100%;
    /**/
    display: flex;
    align-items: end;
}

    .listaBanner img{
        height: 45px;
        padding: 0.5rem 0;
        user-select: none;
    }

    .listaBanner h3{
        margin: 0;
        padding: 0.5rem;
        height: 36px;
        line-height: 36px;
    }

    .listaBanner h6{
        margin: 0;
        padding: 0.8rem 0.5rem;
        height: 18px;
        line-height: 18px;
    }

.listaBannerBotoes{
    height: 100%;
    width: 100%;
    /**/
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

    .listaBannerBotoes > .link {
        margin: 0 0.5rem;
    }

    .listaBannerBotoes > .link{
        text-decoration: none;
        color: none;
    }

    .listaBannerBotoes > .link:active,
    .listaBannerBotoes > .link:visited{
        text-decoration: none;
        color: none;
    }

/* WRAPPER DAS PERGUNTAS E RESPOSTAS */
.wrapperPerguntas{
    height: 50dvh;
    width: 100%;
    /**/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    /**/
    align-items: center;
}

    .linhaPergunta{
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        justify-content: center;
        text-align: center;
    }

    .colunaResposta1{
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        display: flex;
        justify-content: center;
    }

    .colunaResposta2{
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        display: flex;
        justify-content: center;
    }

    .colunaResposta3{
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        display: flex;
        justify-content: center;
    }

    .colunaResposta4{
        grid-row: 3 / 4;
        grid-column: 2 / 3;
        display: flex;
        justify-content: center;
    }

