/* WRAPPER CARDS DE CRIACAO */

.listaCardCriacaoPergunta{
    width: 100%;
    height: 90vh;
    display: grid;
    padding: 5px 0;
    grid-auto-rows: 30vh;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    justify-content: center;
    gap: 1.5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

/************** ALTO CONTRASTE *********************/
/***************************************************/

@media screen and (max-width: 769px){
    .listaCardCriacaoPergunta,
    #root.altoContraste .listaCardCriacaoPergunta{
        width: 65vw;
        height: 90vh;
        padding: 2vh 4vw;
        border: 1px solid var(--cinzaClaro);
        display: grid;
        padding: 5px 0;
    }

    input,
    #root.altoContraste input{
        font-size: 3vw !important; 
    }

    select.font_h6,
    #root.altoContraste select.font_h6{
        font-size: 3vw !important;
    }

    .criacaoPerguntaDica,
    #root.altoContraste .criacaoPerguntaDica{
        text-align: right;
    }

    .containerConteudoCriacaoQuiz,
    #root.altoContraste .containerConteudoCriacaoQuiz{
        height: 160vh !important;
    }

    .divTituloLinguagem,
    #root.altoContraste .divTituloLinguagem{
        flex-direction: column !important;
        margin: 2vh 0 !important;
        height: 12vh !important;    /* 12vh de altura (5vh de duas linhas) + 2vh do gap */
        gap: 2vh !important;
        align-items: start !important;
    }

    .divTituloLinguagem > .container,
    #root.altoContraste .divTituloLinguagem > .container{
        width: 80vw  !important;
    }

    .divTituloLinguagem .container select, 
    #root.altoContraste .divTituloLinguagem .container select{
        width: 80vw  !important;
    }
}


