/* LINHA DA LISTA DE CARDS DOS EXERCICIOS */
.listaCardExercicio{
    width: 100%;
    height: calc(45dvh + 2rem);
    padding: 5% 0;
    display: grid;
    grid-template-columns: repeat(8, 13dvh);
    grid-template-rows: 13dvh 13dvh;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: auto;
}

/* LINHA DA PAGINACAO */
.totalResultados{
    width: 10vw;
    border-radius: 5px;
    border: 1px solid var(--preto);
    /**/
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginacaoResultado{
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
}
