/* LINHA DA LISTA DE CARDS DOS EXERCICIOS */
.listaCardExercicio{
    width: fit-content;
    padding: 2vh 2vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    column-gap: 3vw;
    row-gap: 2vw;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: auto;
}

/* LINHA DA PAGINACAO */
.totalResultados{
    width: 10vw;
    border-radius: 5px;
    border: 1px solid var(--preto);
    text-wrap: none;
    white-space: nowrap;
    /**/
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginacaoResultado{
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/************** ALTO CONTRASTE *********************/


    #root.altoContraste .totalResultados{
        width: 10vw;
        border-radius: 5px;
        border: 1px solid var(--branco);
        text-wrap: none;
        white-space: nowrap;
        /**/
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
/***************************************************/

@media screen and (max-width: 769px){
    .listaCardExercicio,
    #root.altoContraste .listaCardExercicio{
        border: 1px solid var(--cinzaClaro);
        width: fit-content;
        padding: 4vh 4vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        column-gap: 5vw;
        row-gap: 6vw;
        align-items: center;
        justify-content: center;
        overflow-y: scroll;
        overflow-x: hidden;
    }

}