.buttonCorTema{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid var(--cinza);
    box-shadow: 2px 2px 2px var(--cinzaEscuro);
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .iconeInternoTema{
        height: 1.2rem;
        width: 1.2rem;
        filter: var(--iconeAzul)
    }

/************** ALTO CONTRASTE *********************/

    #root.altoContraste .iconeInternoTema{
        height: 1.2rem;
        width: 1.2rem;
        filter: contrast(0) brightness(100)
    }

    #root.altoContraste .buttonCorTema{
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: 1px solid var(--branco);
        box-shadow: none;
        user-select: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

/***************************************************/

@media screen and (max-width: 769px){
    .buttonCorTema,
    #root.altoContraste .buttonCorTema{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5vw;
        width: 5vw;
    }

    .iconeInternoTema,
    #root.altoContraste .iconeInternoTema{
        height: 3vw;
        width: 3vw;
    }

}