.button{
    height: 28px;
    border-radius: 12px;
    padding: 3px 2rem;
    text-align: center;
    box-shadow: 2px 3px 4px var(--cinzaEscuro);
    font-weight: 500;
    cursor: pointer;
    /**/
    display: flex;
    align-items: center;
}

    .link{
        text-decoration: none;
        color: none;
    }

    .link:active,
    .link:visited{
        text-decoration: none;
        color: none;
    }

.button h6{
    width: 100%;
    white-space: nowrap;
    line-height: 18px;
    margin: 2px 0 0 0;
    font-weight: 500;
}

.buttonBranco{
    background-color: #ffffff;
    color: #000000;
    border: 1px solid black;
}

.buttonAzul{
    background-color: #3C3AC5;
    color: #ffffff;
}

.buttonAmarelo{
    background-color: #C3C53A;
    color: #000000;
}

.buttonVerde{
    background-color: #3AC581;
    color: #000000;
}

.buttonRosa{
    background-color: #C53A7E;
    color:#ffffff;
}

.buttonCinza{
    background-color: #b8b8b8;
    color: #000000;
}

/************** ALTO CONTRASTE *********************/

    #root.altoContraste .button{
        height: 28px;
        border-radius: 12px;
        border: 1px solid var(--branco);
        padding: 3px 2rem;
        text-align: center;
        box-shadow: none;
        font-weight: 500;
        cursor: pointer;
        /**/
        display: flex;
        align-items: center;
    }

    #root.altoContraste .button h6{
        color: var(--amarelo-contraste);
    }

    #root.altoContraste .buttonBranco,
    #root.altoContraste .buttonAzul,
    #root.altoContraste .buttonAmarelo,
    #root.altoContraste .buttonVerde,
    #root.altoContraste .buttonRosa,
    #root.altoContraste .buttonCinza{
        background-color: var(--preto);
        color: var(--amarelo-contraste);
    }

/***************************************************/

@media screen and (max-width: 769px){

    .button,
    #root.altoContraste .button{
        width: fit-content;
        min-width: 10vw;
        height: 5vw;
        border-radius: 12px;
        padding: 3px 4vw;
        text-align: center;
        box-shadow: 1px 2px 2px var(--cinzaEscuro);
        font-weight: 500;
        cursor: pointer;
        /**/
        display: flex;
        align-items: center;
    }

    .button h6,
    #root.altoContraste .button h6{
        font-size: 3vw !important;
        width: 100%;
        white-space: nowrap;
        margin: 2px 0 0 0;
        font-weight: 500;
    }


}