.button-nav{
    color: var(--preto);
    padding: 0 2rem;
    text-align: center;
    border: 1px solid var(--preto);
    box-shadow: 1px 1px 5px var(--cinza);
    user-select: none;
    cursor: pointer;
}

    .button-nav > h6 {
        white-space: nowrap;
        font-size: 14px;
        margin: 0;
    }

.button-nav.active{
    border: none;
    box-shadow: none;
    background-color: var(--azul);
    color: white;
}