.button-nav{
    width: calc(100% - 2rem);
    color: var(--preto);
    padding: 0 1rem;
    text-align: center;
    border: 1px solid var(--preto);
    box-shadow: 1px 1px 5px var(--cinza);
    user-select: none;
    cursor: pointer;
}

    .button-nav > h6 {
        white-space: nowrap;
        font-size: 14px;
        margin: 0;
    }

.button-nav.active{
    border: none;
    box-shadow: none;
    background-color: var(--azul);
    color: white;
}

@media screen and (max-width: 769px){
    .button-nav{
        width: 90%;
        color: var(--preto);
        padding: 0 1vw;
        text-align: center;
        border: 1px solid var(--preto);
        box-shadow: 1px 1px 5px var(--cinza);
        user-select: none;
        cursor: pointer;
    }

        .button-nav > h6 {
            white-space: nowrap;
            font-size: 3vw;
            margin: 0;
        }
}