.cardQuiz{
    border-bottom: 1px solid black;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 10% 5% 75% 10%;
}

.cardQuiz:nth-child(16){
    border-bottom: none;
}

    .cardQuiz h6{
        margin: 0;
        align-self: center;
    }

    .cardQuiz .font_h6{
        font-size: 16px;
        white-space: wrap;
        line-break: wrap;
        line-height: 18px;
        max-height: 36px;
    }

    .cardQuiz .markConcluido{
        color: var(--verde);
        font-size: 1.5rem;
        font-weight: bolder;
        padding: 0 0.5rem;
        text-align: end;
    }

    .cardQuiz .quizNumero,
    .cardQuiz .markConcluido,
    .cardQuiz .quizNota{
        user-select: none;
    }

    .cardQuiz .quizTitulo{
        user-select: none;
        cursor: pointer;
    }

.link{
    align-self: center;
    text-decoration: none;
    color: var(--preto);
}

.link:active,
.link:visited{
    text-decoration: none;
    color: var(--preto);
}

/************** ALTO CONTRASTE *********************/

    #root.altoContraste .cardQuiz{
        border-bottom: 1px solid var(--branco);
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 10% 5% 75% 10%;
    }

    #root.altoContraste .cardQuiz:nth-child(16){
        border-bottom: none;
    }

        #root.altoContraste .cardQuiz h6{
            color: var(--branco);
            margin: 0;
            align-self: center;
        }

        #root.altoContraste .cardQuiz .font_h6{
            color: var(--amarelo-contraste);
            font-size: 16px;
            white-space: wrap;
            line-break: wrap;
            line-height: 18px;
            max-height: 36px;
        }

        #root.altoContraste .cardQuiz .markConcluido{
            color: var(--branco);
            font-size: 1.5rem;
            font-weight: bolder;
            padding: 0 0.5rem;
            text-align: end;
        }

        #root.altoContraste .cardQuiz .quizNumero,
        #root.altoContraste .cardQuiz .markConcluido,
        #root.altoContraste .cardQuiz .quizNota{
            user-select: none;
        }

        #root.altoContraste .cardQuiz .quizTitulo{
            user-select: none;
            cursor: pointer;
        }

    #root.altoContraste .link{
        align-self: center;
        text-decoration: none;
        color: var(--amarelo-contraste);
    }

    #root.altoContraste .link:active,
    #root.altoContraste .link:visited{
        text-decoration: none;
        color: var(--amarelo-contraste);
    }
/***************************************************/
@media screen and (max-width: 769px){
    .cardQuiz,
    #root.altoContraste .cardQuiz{
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 10% 75% 15%;
    }
    
    .cardQuiz:nth-child(16),
    #root.altoContraste .cardQuiz:nth-child(16){
        border-bottom: none;
    }
    
        .cardQuiz .quizNumero,
        #root.altoContraste .cardQuiz .quizNumero{
            display: none;
        }

        .cardQuiz h6,
        #root.altoContraste .cardQuiz h6{
            font-size: 3.5vw;
            margin: 0;
            align-self: center;
        }

        .cardQuiz .font_h6,
        #root.altoContraste .cardQuiz .font_h6{
            white-space: wrap;
            line-break: wrap;
            font-size: 3.2vw;
            line-height: 3.2vw;
            max-height: 9.6vw;
        }
    
        .cardQuiz .markConcluido,
        #root.altoContraste .cardQuiz .markConcluido{
            font-size: 4vw;
            font-weight: bolder;
            padding: 0 2vw;
            text-align: end;
        }
    
        .cardQuiz .quizNumero,
        .cardQuiz .markConcluido,
        .cardQuiz .quizNota,
        #root.altoContraste .cardQuiz .quizNumero,
        #root.altoContraste .cardQuiz .markConcluido,
        #root.altoContraste .cardQuiz .quizNota{
            user-select: none;
        }
    
        .cardQuiz .quizTitulo,
        #root.altoContraste .cardQuiz .quizTitulo{
            user-select: none;
            cursor: pointer;
        }
}