.container{
    display: flex;
}

@media screen and (max-width: 769px){
    .container.wrapperResponsivo{
        flex-direction: column !important;
        margin: 2vh 0 !important;
    }   
        
        /* ALTERAÇÃO DE LARGURA DO CONTAINER RESPONSIVO */
        .container.wrapperResponsivo > .container{
            width: 80vw  !important;
        }
        

        /* ALTERAÇÃO DE ALTURA DO CONTAINER RESPONSIVO */
        
        /* Esse tamanho de 10vh costuma ser o container do filtro de linguagem / barra de pesquisa*/
        .container.wrapperResponsivo .container[style~="10vh;"]{
            height: 20vh !important;
        }

        .container[style~="30vh;"]{
            height: 45vh !important;
        }

        .container[style~="40vh;"]{
            height: 50vh !important;
        }

        .container[style~="60vh;"]{
            height: 30vh !important;
        }

        .container[style~="90vh;"]{
            height: 70vh !important;
        }   

        /*Esse tamanho é especifico da lista de quizzes */
        .container[style~="102vh;"]{
            height: 153vh !important;
        }

    .forceAlignStart{
        align-items: start !important;
    }

    .forceJustifyStart{
        justify-content: start !important;
    }

    .forceJustifyCenter{
        justify-content: center !important;
    }

    .forceJustifyEnd{
        justify-content: end !important;
    }

    .forceJustifyBetween{
        justify-content: space-between !important;
    }

    .container.responsivoColumn{
        flex-direction: column !important;
        align-items: center !important;
        justify-content: start !important;
    }

        
    .container.responsivoHide{
        display: none !important;
    }
}