.container{
    display: flex;
}

@media screen and (max-width: 769px){
    .container.wrapperResponsivo{
        flex-direction: column !important;
        margin: 2vh 0 !important;
    }   
        
        .container.wrapperResponsivo > .container{
            width: 80vw  !important;
        }

        /* Esse tamanho de 10vh costuma ser o container do filtro de linguagem / barra de pesquisa*/
        .container.wrapperResponsivo .container[style~="10vh;"]{
            height: 10vh !important;
        }

        .container[style~="30vh;"]{
            height: 40vh !important;
        }

        .container[style~="40vh;"]{
            height: 40vh !important;
        }

        .container[style~="60vh;"]{
            height: 30vh !important;
        }

        .container[style~="90vh;"]{
            height: 70vh !important;
        }   

    .forceAlignStart,
    .forceAlignStart{
        align-items: start !important;
    }

    .forceJustifyStart,
    .forceJustifyStart{
        justify-content: start !important;
    }

    .forceJustifyBetween,
    .forceJustifyBetween{
        justify-content: space-between !important;
    }

    .container.responsivoColumn{
        flex-direction: column !important;
        align-items: center !important;
        justify-content: start !important;
    }

        
    .container.responsivoHide{
        display: none !important;
    }
}