.container{
    display: flex;
}

@media screen and (max-width: 769px){
    .container.wrapperResponsivo{
        flex-direction: column !important;
        margin: 2dvh 0 !important;
    }   
        
        .container.wrapperResponsivo > .container{
            width: 80vw  !important;
        }

        /* Esse tamanho de 10dvh costuma ser o container do filtro de linguagem / barra de pesquisa*/
        .container.wrapperResponsivo .container[style~="10dvh;"]{
            height: 10dvh !important;
        }

        .container[style~="30dvh;"]{
            height: 40dvh !important;
        }

        .container[style~="40dvh;"]{
            height: 40dvh !important;
        }

        .container[style~="60dvh;"]{
            height: 30dvh !important;
        }

        .container[style~="90dvh;"]{
            height: 70dvh !important;
        }   

    .forceAlignStart,
    .forceAlignStart{
        align-items: start !important;
    }

    .forceJustifyStart,
    .forceJustifyStart{
        justify-content: start !important;
    }

    .forceJustifyBetween,
    .forceJustifyBetween{
        justify-content: space-between !important;
    }

    .container.responsivoColumn{
        flex-direction: column !important;
        align-items: center !important;
        justify-content: start !important;
    }

        
    .container.responsivoHide{
        display: none !important;
    }
}