.form_cadastro,
.form_login{
    height: fit-content;
    width: 25vw;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    align-items: center;
}

.form_cadastro label,
.form_login label{
    text-align: start
}

    .form_cadastro label.conf_senha{
        color: var(--black);
        white-space: nowrap;
        font-size: '6px';
        line-height: '12px'
    }

.form_cadastro input,
.form_login input{
    height: 1rem;
    border: 2px solid #b7b7b7;
    border-radius: 5px;
    padding: 4px;
}

.form_cadastro .useTwoColumns,
.form_login .useTwoColumns{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_cadastro button,
.form_login button{
    
    padding: 0;
}



/************** ALTO CONTRASTE *********************/
    #root.altoContraste .form_cadastro input,
    #root.altoContraste .form_login input{
        height: 1rem;
        border: 2px solid var(--branco);
        border-radius: 5px;
        padding: 4px;
    }

    #root.altoContraste .form_cadastro label,
    #root.altoContraste .form_login label{
        text-align: start
    }

        #root.altoContraste .form_cadastro label.conf_senha{
            color: var(--branco);
            white-space: nowrap;
            font-size: '6px';
            line-height: '12px'
        }

    #root.altoContraste .form_cadastro .useTwoColumns,
    #root.altoContraste .form_login .useTwoColumns{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #root.altoContraste .form_cadastro button,
    #root.altoContraste .form_login button{
        padding: 0;
    }
        

/***************************************************/

@media screen and (max-width: 769px){
    .form_cadastro,
    .form_login,
    #root.altoContraste .form_cadastro,
    #root.altoContraste .form_login{
        height: 30vh !important;
        width: 60vw;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-auto-rows: 3vh;
        column-gap: 2vh;
        row-gap: 4vh;
        align-items: center;
    }

    .form_cadastro label,
    .form_login label,
    #root.altoContraste .form_cadastro label,
    #root.altoContraste .form_login label{
        height: 3vw;
        font-size: 3vw !important;
        align-items: center;
        text-align: start
    }

    .form_cadastro input,
    .form_login input,
    #root.altoContraste .form_cadastro input,
    #root.altoContraste .form_login input{
        height: 3vw;
        border-radius: 5px;
        padding: 4px;
    }

    
}