.navbar{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    justify-content: center;
    align-items: center;
}

    .navbar .logo{
        width: 70%;
        justify-self: end;
    }

.col-usuario{
    display: flex;
    align-items: center;
}

    .col-usuario h6{
        padding-top: 6px;
        line-height: 6vh;
        padding: 0 0.5rem;
    }

    .col-usuario .foto-perfil{
        height: 3vw;
        width: 3vw;
        border-radius: 50%;
        background-color: var(--azul);
        user-select: none;
        /**/
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col-usuario .foto-perfil > h5{
        font-size: 2vw;
        color: var(--branco);
    }

.col-navegacao{
    display: flex;
    align-items: center;
    justify-content: center;
}

    .col-navegacao > .link {
        margin: 0 0.5rem;
    }

    .col-navegacao > .link{
        text-decoration: none;
        color: none;
    }

    .col-navegacao > .link:active,
    .col-navegacao > .link:visited{
        text-decoration: none;
        color: none;
    }

@media screen and (max-width: 769px){
    .navbar{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 20% 80%;
        justify-content: center;
        align-items: center;
    }

        .navbar .logo{
            display: none;
        }
    
    .col-usuario{
        width: 100%;
    }

        .col-usuario h6{
            font-size: 1vw;
            padding-top: 1vw;
            line-height: 1.3vw;
            padding: 0 1vw;
        }

        .col-usuario .foto-perfil{
            height: 4vw;
            width: 4vw;
            border-radius: 50%;
            background-color: var(--azul);
            user-select: none;
            /**/
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .col-usuario .foto-perfil > h5{
            font-size: 1.3vw;
            color: var(--branco);
        }

    .col-navegacao{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 1vw;
    }
}