.buttonResposta{
    height: 10vh;
    width: 90%;
    background-color: var(--branco);
    border: 1px solid var(--preto);
    border-radius: 15px;
    box-shadow: 2px 3px 4px var(--cinza);
    cursor: pointer;
    user-select: none;
    /**/
    display: grid;
    grid-template-columns: 1fr 9fr;
    gap: 1rem;
    align-items: center;
}

    .radioBorder{
        pointer-events: none;
        justify-self: center;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        border: 1px solid var(--preto);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .radioFill{
        pointer-events: none;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: transparent;
    }

    .buttonResposta h6{
        pointer-events: none;
    }

    .buttonResposta .respostaTexto{
        pointer-events: none;
    }

/* Classes para mostrar se a resposta está certa ou errada */

.buttonResposta.respostaCorreta{
    border: none;
    box-shadow: none;
    background-color: var(--azul);
    color: var(--branco);
}   

.buttonResposta.respostaIncorreta{
    border: none;
    box-shadow: none;
    background-color: var(--rosa);
    color: var(--branco)
}   

.buttonResposta.respostaCorreta .radioBorder,
.buttonResposta.respostaIncorreta .radioBorder{
    border: 1px solid var(--branco);
}

.buttonResposta.respostaCorreta .radioBorder .radioFill,
.buttonResposta.respostaIncorreta .radioBorder .radioFill{
    background-color: var(--branco);
}

/************** ALTO CONTRASTE *********************/

    #root.altoContraste .buttonResposta{
        height: 10vh;
        width: 90%;
        background-color: var(--preto);
        border: 1px solid var(--branco);
        border-radius: 15px;
        box-shadow: none;
        cursor: pointer;
        user-select: none;
        /**/
        display: grid;
        grid-template-columns: 1fr 9fr;
        gap: 1rem;
        align-items: center;
    }

        #root.altoContraste .radioBorder{
            pointer-events: none;
            justify-self: center;
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 50%;
            border: 1px solid var(--branco);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #root.altoContraste .radioFill{
            pointer-events: none;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background-color: transparent;
        }

        #root.altoContraste .buttonResposta h6{
            pointer-events: none;
        }

        #root.altoContraste .buttonResposta .respostaTexto{
            pointer-events: none;
        }
    

    #root.altoContraste .buttonResposta.selecionado{
        border: none;
        box-shadow: none;
        background-color: var(--branco);
        color: var(--preto)
    }

    #root.altoContraste .buttonResposta.selecionado h6{
        color: var(--preto)
    }
    
        #root.altoContraste .buttonResposta.selecionado .radioBorder{
            border: 1px solid var(--preto);
            background-color: var(--preto);
        }
    
        #root.altoContraste .buttonResposta.selecionado .radioBorder .radioFill{
            background-color: var(--branco);
        }

/***************************************************/

@media screen and (max-width: 769px){
    .buttonResposta,
    #root.altoContraste .buttonResposta{
        width: calc(90% - 6vw);
        padding: 0 3vw;
        border-radius: 15px;
        cursor: pointer;
        user-select: none;
        /**/
        display: grid;
        grid-template-columns: 1fr 9fr;
        gap: 2vw;
        align-items: center;
    }

        .buttonResposta .respostaTexto h6,
        #root.altoContraste .buttonResposta .respostaTexto h6{
            font-size: 3vw !important;
        }

        #root.altoContraste .radioBorder,
        #root.altoContraste .radioBorder{
            pointer-events: none;
            height: 4vw;
            width: 4vw;
        }

        #root.altoContraste .radioFill,
        #root.altoContraste .radioFill{
            pointer-events: none;
            width: 3vw;
            height: 3vw;
        }
}