.buttonResposta{
    height: 10vh;
    width: 90%;
    background-color: var(--branco);
    border: 1px solid var(--preto);
    border-radius: 15px;
    box-shadow: 2px 3px 4px var(--cinza);
    cursor: pointer;
    user-select: none;
    /**/
    display: grid;
    grid-template-columns: 1fr 9fr;
    gap: 1rem;
    align-items: center;
}

    .radioBorder{
        justify-self: center;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        border: 1px solid var(--preto);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .radioFill{
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: transparent;
    }

.buttonResposta.selecionado{
    border: none;
    box-shadow: none;
    background-color: var(--azul);
    color: var(--branco)
}

    .buttonResposta.selecionado .radioBorder{
        border: 1px solid var(--branco);
    }

    .buttonResposta.selecionado .radioBorder .radioFill{
        background-color: var(--branco);
    }

@media screen and (max-width: 769px){
    .buttonResposta{
        width: calc(90% - 6vw);
        padding: 0 3vw;
        background-color: var(--branco);
        border: 1px solid var(--preto);
        border-radius: 15px;
        box-shadow: 2px 3px 4px var(--cinza);
        cursor: pointer;
        user-select: none;
        /**/
        display: grid;
        grid-template-columns: 1fr 9fr;
        gap: 2vw;
        align-items: center;
    }

        .buttonResposta .respostaTexto h6{
            font-size: 3vw !important;
        }

        .radioBorder{
            height: 4vw;
            width: 4vw;
        }

        .radioFill{
            width: 3vw;
            height: 3vw;
        }
}