.telaConclusaoAtividade{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

    .telaConclusaoAtividade .telaConclusaoTitulo{
        font-size: 60px;
        color: var(--branco);
        text-align: center;
    }

    .telaConclusaoAtividade #telaTextoConclusao{
        font-size: 42px;
        color: var(--branco);
        text-align: center;
    }

.conclusao-stop-scroll{
    height: 100vh;
    overflow: hidden;
}

.conclusao-hide{
    display: none;
}

@media screen and (max-width: 769px){

    
        .telaConclusaoAtividade .telaConclusaoTitulo{
            font-size: 6vw;
            text-align: center;
        }
    
        .telaConclusaoAtividade #telaTextoConclusao{
            font-size: 5vw;
            text-align: center;
        }
}